/*
Styling for interactive Boids simulation
Author: Alex Kim (ajpkim)
Date: 2021-01-20
Repo: https://github.com/ajpkim/interactive-boids
*/

body {
    max-width: 55rem;
    margin: auto;
    background-color: #232933;
}

h1 {
    color: white;
}

p {
    color: white;
}

#canvas {
    border: 5px solid #fff;
    background-color: #b6bef5;
}

.boidsControlsGrid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: 10px;
}

.boidsControlsGrid * {
    text-align: center;
}

.boidsControlsGrid h2 {
    color: #4cf3ad;
}

.boidsControlsGrid h3 {
    color: #b6bef4;
    margin: 0.5rem;
}

.boidsControlsGrid p {
    margin-top: 1px;
}

.sliderAnnotation {
    margin-top: 200px;
}
