


body {
    background-color: #232933;
}

h1 {
    color: #00ff90;
}

h2 {
    color: white;
}

p {
    color: white;
}

#canvas {

    /* height: 8000; */
    /* width: 700;   */
    border: 5px solid red;
    background-color: #fff;
}

/* Adding sliders */

/* .rangeSliderContainer { /*
/*     width: 75%; */
/*     margin-top: 25px; */
/*     background: orange; */
/*     color: white; */
		
/* } */

/* .forceSliderContainer { */
/*     width: 75%; */
/*     margin-top: 25px; */
/*     color: white; */
/*     background: purple; */
/* } */

.sliderContainer {
    background: #009999
}
