


body {
    max-width: 55rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    background-color: #232933;
}


#canvas {
    border: 5px solid #ffffff;
    background-color: #b6bef5;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.boidsContainer{
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.boidsContainer h1 {
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.boidsContainer h2 {
    color: #b6bef5;
    color: #4cf3ad;
    text-align: center;
    margin-bottom: 10;

}

.boidsContainer h3 {
    color: #4cf3ad;
    color: #b6bef5;
    text-align: center;
    padding: 0;
    margin: 0;
}


.boidsContainer p {
    margin: 0;
    color: #fff;
}


.sliderContainer {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* .rangeAnnotationColumn { */
/*     float: left; */
/*     text-color: orange; */
    
/* } */

.rangeAnnotationColumn p {
    float: left;
    
    color: #fff;
}

.controlsColumn {
    /* max-width: 45%; */
}

.forceAnnotationColumn p {
    float: right;
    color: #fff;
}
