#canvas {
    width: 100%;
    height: 80%;
    border: 3px solid #fff;
    background-color: #b6bef5;
}

input {
    width: 47%;
}

#classic-forces-container {
    bottom:0;
    max-width: 350px;
    position:fixed;
    overflow-y:visible;
    overflow-x:hidden;
    top: 20rem;
    left: 3%;
    width: 20%;
}

#classic-forces-container h2, h3 {
    text-align: center;
}

#predator-forces-container {
    bottom:0;
    max-width: 350px;
    position:fixed;
    overflow-y:visible;
    overflow-x:hidden;
    top: 20rem;;
    right: 3%;
    width: 20%;
}

#predator-forces-container h2, h3 {
    text-align: center;
}

.slider-annotation {
    font-size: 1.6rem;
    color: #ffeab4;
    text-align: center;
}
